body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.upper-background {
    background-color: #1F2937;
    color: #E5E7Eb;
    padding: 15px 130px 130px 130px;
    display: flex;
    justify-content: center;
}

.alignment {
    max-width: 1500px;
}

.logo img{
    max-width: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
}

.header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -20px;
}

.upper {
    display: flex;
    padding-top: 60px;
    justify-content: center;
}

.upper-left {
    padding-right: 50px;
    margin-top: -55px;

}

.upper-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 5px;
    height: 30px;
    width: 110px;
    font-size: 18px;
}

.upper-right {
    display: flex;
    align-items: start;
}

.upper-img {
    width: 500px;
    height: 225px;
    object-fit: cover;
    object-position: 50% 80%; 
    flex:auto
}


.img-list {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    object-position: 50% 50%; 
}

.upper-middle {
    display: flex; 
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.header-mid {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.images ul li {
    text-align: center;
    max-width: 200px;
    padding: 15px 20px;
}

.img-list {
    border-radius: 10px;
}



